{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "objectWrap": "preserve",
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 128,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": false,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
